Diagnostics:
  Suppress: 
    - pp_file_not_found_angled_include_not_fatal
    # - pp_file_not_found

CompileFlags:
  Add: 
    -I/usr/lib/arm-none-eabi/include/
  Compiler: /usr/bin/arm-none-eabi-gcc
